.imagen_cabecera{
  width: 100%;
  background-color: rgb(174, 185, 192);
}
#cabecera{
width: 100%;
height: auto;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
}
@media screen and(max-width:576px) {
  .imagen_cabecera{
    width: 100%;
  }
  #cabecera{
    width: 100%;
  }

}
