.imagen_cabecera{
  width: 100%;
  background: rgba(52, 162, 230, 0.269);}
#cabecera{
width: 100%;
height: auto;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
}
@media screen and(max-width:576px) {
  .imagen_cabecera{
    width: 100%;
  }
  #cabecera{
    width: 100%;
  }

}
