img{
  width: 40px;
  height: 30px;
}

.logos{
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.logoap{
  margin-left: 10px;
}
.LogoAp{
  width: 130px;
  height: 60px;
}
.sociales{
  margin-right: 10px;
  align-items: center;
}
.sociales img{
  width: 40px;
  height: 40px;
}
