<!--========================================== FORMACION ACADEMICA =============================================-->
<div id="recuadro">
  <h2 id="Formacion-Academica">Formación Académica</h2>
  <ul>
      <li>Secundario: <b>Escuela Ingerniero Rogelio Boero. </b> </li>
      <a href="https://www.escuelatecnicaboero.com/"><img src="../../../assets/Boero.png" id="logo-estudios"></a>
      <li>Curso de capacitación Argentina Progama. </li>
      <a href="https://argentinaprograma.inti.gob.ar/"><img src="../../../assets/argentina_programa.png" id="logo-estudios"></a>
      <li>Curso de Programación Oracle. </li>
      <a href="https://app.aluracursos.com/loginForm?urlAfterLogin=https://app.aluracursos.com/formacion-bienvenida-one"><img src="../../../assets/oracle.jpg" id="logo-estudios"></a>
      <li>Tecnicatura superior en Programación en Teclab </li>
      <a href="https://www.teclab.edu.ar/"><img src="../../../assets/Teclab.jpg" id="logo-estudios"></a>
      <li>Autodidacta: varios cursos realizados de manera personal</li>
  </ul>
  <a class="inicio-btn" href="index.html">ir a <strong>Inicio</strong></a>
</div>
<br>
